TRAVELPAYOUTS_API_TOKEN=
TRAVELPAYOUTS_API_BASE_URL=https://api.travelpayouts.com/aviasales/v3
TRAVELPAYOUTS_MARKER=
TRAVELPAYOUTS_HOTELS_TRS=
HOTELS_DIRECT_PROVIDER=Klook
HOTELS_DIRECT_URL_TEMPLATE=https://klook.tpo.lu/nCJk35GH
